* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
}

.launcher-container {
  margin: 10px;
  width: 300px;
  padding-bottom: 50px;
  padding-top: 50px;
  border: gray 1px solid;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.launches-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
  height: 100px;
  cursor: move;
}

.launches-card.over {
  border: 3px dotted #666;
}
